body {
    background-color: rgb(38, 43, 61);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
    -webkit-touch-callout: none;
    user-select: none;
}

#container {
    background-color: rgb(24, 28, 40);;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgb(88, 92, 94);
    box-shadow: 0 0 20px rgba(88, 92, 94, 0.5);
    display: inline-block;
}

#warning {
    color: red;
    font-size: 1em;
    margin-bottom: 10px;
    display: none;
}

#screen {
    background: linear-gradient(45deg, rgb(38, 42, 69), rgb(47, 45, 56), rgb(75, 55, 44));
    color: rgb(242, 241, 232);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#pin-input {
    font-size: 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.pin-box {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 2em;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

@media (max-width: 320px) {
    #screen { max-width: 200px; }
    #keyboard { grid-template-columns: repeat(3, 1fr); font-size: 0.8em; }
    .key { padding: 10px; }
}

@media (max-width: 480px) {
    #screen { max-width: 250px; }
    #keyboard { grid-template-columns: repeat(3, 1fr); }
    .key { padding: 12px; }
}

@media (max-width: 768px) {
    #screen { max-width: 300px; }
    #keyboard { grid-template-columns: repeat(3, 1fr); }
    .key {padding: 15px;}
}

@media (min-width: 769px) {
    #keyboard { grid-template-columns: repeat(3, 1fr); }
    .key { padding: 18px; font-size: 1.5em;}
}

.key {
    background: linear-gradient(45deg, rgb(64, 66, 91), rgb(80, 74, 77), rgb(75, 53, 42));
    color: rgb(242, 241, 246);
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

.key:hover{
    background-color: black;
    color: darkgrey;
}

#success-message, #error-message {
    font-size: 2em;
    font-style: revert;
    margin-bottom: 20px;
    color: rgb(242, 241, 232);
}
#spinner {
  display: inline-block;
}

.spinner__animation {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border-top: 3px solid rgb(38, 42, 69);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgb(75, 55, 44);
    animation: loading-spinner 0.5s infinite linear;
}

@keyframes loading-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#timer{
    font-size: 2em;
    margin-top: 20px;
    color: rgb(242, 241, 232);
}

